<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - MtG Tech Finder</title>
    <link rel="stylesheet" href="./../styles/about.css">
    <link rel="stylesheet" href="./../styles/header.css">
</head>
<body>
    <div class="top-header">
        <div class="header-item">
            <img src="./../images/IMG_3176.PNG" id="chibinez">
            <h1>MtG Tech Finder</h1>
        </div>
        <div class="header-item">
            <nav>
                <ul>
                    <li>
                        <a href="./../views/main.html">Home</a>
                    </li>
                    <li>
                        <a href="./../views/Search.html">Search</a>
                    </li>
                    <li>
                        <a href="./../views/about.html">About</a>
                    </li>
                    <li>
                        <a href="#">Account</a>
                    </li>
                    <li>
                        <a href="./../views/login.html">Login</a>
                    </li>
                    <li>
                        <a href="./../views/rat.html" id="rat">Rat?</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div style="margin-top: 120px"></div>
    <div class="about-container">
        <div class="about-title">
            <div class="whatisthis">
                <h1>What is the Tech Finder?</h1>
                <p>Ever looked at a list of your favorite archetype and felt it was the same as the last?</p>
                <p>The point of this tool, the Tech Finder, is to find those lists with lesser used tech and bring that tech straight to you! 
                    Just go to the Search page and enter in the format you are looking in then the deck you want get tech in. 
                    You can even search up a card name and find how often archetypes use it!
                </p>
            </div>
            <div class="headers">
                <h1>Archetypes to be added</h1>
            </div>
            <div class="archetypelist">
                <table class="archetypetable">
                    <tr>
                        <th>Name</th>
                        <th>Format</th>
                        <th>Type</th>
                        <th>Common Colors</th>
                    </tr>
                    <tr>
                        <td>Blue/Red Delver</td>
                        <td>Legacy</td>
                        <td>Aggro</td>
                        <td>Blue/Red</td>
                    </tr>
                    <tr>
                        <td>Death and Taxes</td>
                        <td>Legacy</td>
                        <td>Aggro</td>
                        <td>White</td>
                    </tr>
                    <tr>
                        <td>Eldrazi Stompy</td>
                        <td>Legacy</td>
                        <td>Aggro</td>
                        <td>Colorless</td>
                    </tr>
                    <tr>
                        <td>Bant Control</td>
                        <td>Legacy</td>
                        <td>Control</td>
                        <td>White/Blue/Green</td>
                    </tr>
                    <tr>
                        <td>Lands</td>
                        <td>Legacy</td>
                        <td>Control</td>
                        <td>Red/Green</td>
                    </tr>
                    <tr>
                        <td>Grixis Control</td>
                        <td>Legacy</td>
                        <td>Control</td>
                        <td>Blue/Black/Red</td>
                    </tr>
                    <tr>
                        <td>Bomberman</td>
                        <td>Legacy</td>
                        <td>Combo</td>
                        <td>White/Blue</td>
                    </tr>
                    <tr>
                        <td>Sultai Dreadnought</td>
                        <td>Legacy</td>
                        <td>Combo</td>
                        <td>Blue/Black/Green</td>
                    </tr>
                    <tr>
                        <td>Dredge</td>
                        <td>Legacy</td>
                        <td>Combo</td>
                        <td>White/Blue/Black/Red/Green</td>
                    </tr>
                    <tr>
                        <td>Storm</td>
                        <td>Legacy</td>
                        <td>Combo</td>
                        <td>Blue/Black/Red</td>
                    </tr>
                    <tr>
                        <td>Hatebears</td>
                        <td>Modern</td>
                        <td>Aggro</td>
                        <td>White/Red</td>
                    </tr>
                    <tr>
                        <td>Urzatron</td>
                        <td>Modern</td>
                        <td>Control</td>
                        <td>Blue</td>
                    </tr>
                    <tr>
                        <td>Storm</td>
                        <td>Modern</td>
                        <td>Combo</td>
                        <td>Blue/Red</td>
                    </tr>
                    <tr>
                        <td>Amulet Titan</td>
                        <td>Modern</td>
                        <td>Combo</td>
                        <td>Red/Green</td>
                    </tr>
                    <tr>
                        <td>Spirits</td>
                        <td>Pioneer</td>
                        <td>Aggro</td>
                        <td>Blue</td>
                    </tr>
                    <tr>
                        <td>Dimir Control</td>
                        <td>Pioneer</td>
                        <td>Control</td>
                        <td>Blue/Black</td>
                    </tr>
                    <tr>
                        <td>Lotus Field</td>
                        <td>Pioneer</td>
                        <td>Combo</td>
                        <td>Blue/Black/Green</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>