<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - Tech Finder</title>
    <link rel="stylesheet" href="./../styles/header.css">
    <link rel="stylesheet" href="./../styles/newaccount.css">
</head>
<body>
    <div class="top-header">
        <div class="header-item">
            <img src="./../images/IMG_3176.PNG" id="chibinez">
            <h1>MtG Tech Finder</h1>
        </div>
        <div class="header-item">
            <nav>
                <ul>
                    <li>
                        <a href="./../views/main.html">Home</a>
                    </li>
                    <li>
                        <a href="./../views/Search.html">Search</a>
                    </li>
                    <li>
                        <a href="./../views/about.html">About</a>
                    </li>
                    <li>
                        <a href="#">Account</a>
                    </li>
                    <li>
                        <a href="./../views/login.html">Login</a>
                    </li>
                    <li>
                        <a href="./../views/rat.html" id="rat">Rat?</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div style="margin-top: 120px"></div>
    <span class="account-container">
        <div class="pageopener">
            <h1>Create New Account</h1>
        </div>
        <nav class="pagebody">
            <script src="./../scripts/accountValidate.js"></script>
            <form action="./login.html" name="newaccount" id="newaccount" onsubmit="return(addAccount())">
                <div>
                    <input type="text" name="username" id="name" placeholder="Username" required>
                </div>
                <div>
                    <input type="text" name="password" id="pass" placeholder="Password" required>
                </div>
                <div>
                    <input type="submit" name="enter" id="pressme" value="Create Account">
                </div>
            </form>
        </nav>
    </span>
</body>
</html>